{% extends 'base.html' %} {% load static %} {% block content %}
<h1 style="margin-top: 100px">vendor profile page</h1>
<!-- Main Section Start -->
<div class="main-section">
    {% include 'cover.html' %}

    <div class="page-section account-header buyer-logged-in">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    {% include "vendor_sidebar.html" %}
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="user-dashboard loader-holder">
                        <div class="user-holder">

                            <h5 class="text-uppercase">build your food menu
                                baby</h5>

                            <hr>

                            <div class="text-left mb-4">
                                 <a href="{% url 'menu:menu-builder' %}"
                                class="btn btn-secondary m-1">
                                <i class="fa-solid fa-angle-left fa-flip fa-2xl pr-5" style="color: #ffffff;"></i>
                                Kategorilere Geri Dön</a>
                            </div>

                            <h6>Menu Categori : <span class="text-uppercase text-success">{{category_name}}</span></h6>
                             {% if items %}
                             
  
                            <table class="table table-hover table-borderless">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Image</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                
                             
                                <tbody>
                                    {% for item in items %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td class="text-left">
                                            <a href="#">
                                                <p class="mb-0 font-weight-bold">
                                                    {{item.food_title}}
                                                </p>
                                                <small class="text-muted">
                                                    {{item.description}}
                                                </small>
                                            </a>
                                        </td>
                                        <td><img src="{{item.food_image.url}}" alt="no image" width="40"></td>
                                        <td><i class="fa-solid fa-pen-to-square fa-shake pr-2"></i> 
                                            <i class="fa-solid fa-trash-can fa-bounce fa-lg pl-2" style="color: #ff0000;"></i>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            {% else %}
                            <h5 class="text-center mt-5">
                                No food items in <span class="text-uppercase">{{category_name}}</span>
                            </h5>
                            <div class="text-center">
                                 <a href="#"
                                class="btn btn-success m-1"><i
                                    class="fa-solid fa-cart-plus fa-beat-fade pr-2"></i>Add
                                Food</a>
                            </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Section End -->
    {% endblock %}
</div>
